.container{
    width: 600px;
    height: 500px;
    margin: auto;
    text-align: center;
    border: 1px solid black;
}

.conteudo{
    margin: 30px 40px;
}

.frase{
    height: 20px;
    width: 90%;
}

.btn{
    height: 30px;
    width: 80px;
    margin-top: 10px;
}

.resultado{
    height: 60px;
    margin-top: 10px;
    border: 1px solid black;
}